on:
  push:
  schedule:
    - cron: '0 23 * * *'
    
jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout codes'
        uses: actions/checkout@v2
      - name: python env
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      # 安装依赖
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          pip install bs4
      - name: 'Get DataSource'
        run: curl https://news.topurl.cn > ./result.html
      - name: 'Get Info'
        run: python ./getInfo.py
      - name: 'Get Date'
        run: |
          echo "SGXC_TIMESTAMP=$(TZ=':Asia/Shanghai' date '+%s')" >> $GITHUB_ENV
          echo "REPORT_DATE=$(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')" >> $GITHUB_ENV
      - name: 'Get TEXT'
        run: |
            echo 'FILE_TEXT<<EOF' >> $GITHUB_ENV
            cat ./result.txt >> $GITHUB_ENV
            echo 'EOF' >> $GITHUB_ENV
      - name: 'Send mail'
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.163.com
          server_port: 465
          username: ${{ secrets.MAIL_USER_NMAE }}
          password: ${{ secrets.MAIL_PWD }}
          subject: 今日新闻简报推送 (${{env.REPORT_DATE}})
          body: file://result.txt
          to: 864562082@qq.com
          from: GitHub Actions
          content_type: text/html
      - name: "时光相册签到"
        run: |
           result=$(curl \
              -X POST \
              -H "Content-Type:application/json"\
              -H "Authorization:${{ secrets.SGXC_AUTHORIZATION }}" \
              -H "x-Device-IDFA:${{ secrets.SGXC_X_DEVICE_IDFA }}"\
              -H "x-uid:${{ secrets.SGXC_X_UID }}"\
              -H "X-Api-Version:${{ secrets.SGXC_API_VERSION }}"\
              -H "X-Timestamp:${{ env.SGXC_TIMESTAMP }}"\
              -H "x-device-id: ${{ secrets.SGXC_X_DEVICE_ID }}"\
              -H "Cookie:${{ secrets.SGXC_COOKIE }}"\
              -H "X-Locked:1"\
              -H "Host:api.everphoto.cn"\
              -H "User-Agent:EverPhoto/2.7.10 (iOS;271002;iPhone11,8;14.0.1;App Store)"\
              -H "Accept-Language:zh-Hans-CN;q=1.0"\
              -H "Accept-Encoding: gzip;q=1.0, compress;q=0.5"\
              -H "Accept:*/*"\
               https://api.everphoto.cn/users/self/checkin/v2)
            echo 'CheckState<<EOF' >> $GITHUB_ENV
            echo "$result" >> $GITHUB_ENV
            echo 'EOF' >> $GITHUB_ENV
      - name: '发送到钉钉群'
        uses: fifsky/dingtalk-action@master
        with:
          url: ${{ secrets.DINGTALK_WEBHOOK}}
          type: text
          at: all
          content: |
            ${{env.FILE_TEXT}}
            
            时光相册签到: 
            ${{env.CheckState}}
            
            发布自Github Action
            https://github.com/WangGuibin/weather-action 
      - name: '发送邮件通知'
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.163.com
          server_port: 465
          username: ${{ secrets.MAIL_USER_NMAE }}
          password: ${{ secrets.MAIL_PWD }}
          subject: 时光相册签到 (${{env.REPORT_DATE}})
          body: "时光相册签到结果如下:\n ${{env.CheckState}}"
          to: 864562082@qq.com
          from: GitHub Actions
  
