on:
  push:
  schedule:
    - cron: "38 22 * * *" #早上6点45左右推送
    
jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout codes'
        uses: actions/checkout@v2
      - name: python env
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      # 安装依赖
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          pip install bs4
      - name: 'Get DataSource'
        run: curl https://news.topurl.cn > ./result.html
      - name: 'Get Info'
        run: python ./getInfo.py
      - name: 'Get Date'
        run: |
          echo "REPORT_DATE=$(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')" >> $GITHUB_ENV
          echo "TODAY_DATE=$(TZ=':Asia/Shanghai' date +'%Y-%m-%d')" >> $GITHUB_ENV
      - name: 'Get TEXT'
        run: |
            echo 'FILE_TEXT<<EOF' >> $GITHUB_ENV
            cat ./result.txt >> $GITHUB_ENV
            echo 'EOF' >> $GITHUB_ENV
#       - name: 'Send mail'
#         uses: dawidd6/action-send-mail@master
#         with:
#           server_address: smtp.163.com
#           server_port: 465
#           username: ${{ secrets.MAIL_USER_NMAE }}
#           password: ${{ secrets.MAIL_PWD }}
#           subject: 今日新闻简报推送 (${{env.REPORT_DATE}})
#           body: file://result.txt
#           to: 864562082@qq.com
#           from: GitHub Actions
#           content_type: text/html

          
     # - name: '发送到钉钉群'
     #   uses: fifsky/dingtalk-action@master
     #   with:
     #   url: ${{ secrets.DINGTALK_WEBHOOK}}
     #   type: text
     #   at: all
     #   content: |
     #    ${{env.FILE_TEXT}} 

      - name: Telegram通知
        run: |
          curl "https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage" \
          -d "chat_id=${{ secrets.TELEGRAM_CHAT_ID }}" \
          -d "text=${{env.FILE_TEXT}}"

      - name: bark接收通知消息
        run: |
          curl "https://api.day.app/${{ secrets.BARK_API_KEY }}/%E6%AF%8F%E6%97%A5%E6%97%A9%E6%8A%A5/${{env.FILE_TEXT}}?group=Github%20Action"
      
      - name: '打完收工,提交代码!'
        run: |
          git config --local user.email "864562082@qq.com"
          git config --local user.name "WangGuibin"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.MYGG_TOKEN }}@github.com/${{ github.repository }}
          git pull
          currentDate=${{env.TODAY_DATE}}
          mkdir -p  ${currentDate%%-*} && cp result.txt ${currentDate%%-*}/${currentDate}.txt
          git add .
          git commit -m "Update By Github Action Bot"
          git push
